<head>
    <link rel="stylesheet" href="/css/aces.css">        
</head>
<body>
        <nav class="nav">
            <ul class="nav-list"></ul>
                <li class="nav-list-item"><a href="#logIn" class="nav-list-item">&nbsp;&nbsp; Sign In &nbsp;&nbsp;</a></li>
                <li class="nav-list-item"><a href="/" class="nav-list-item">&nbsp;&nbsp;Home&nbsp;&nbsp;</a></li>
                <li class="nav-list-item"><a href="/river" class="nav-list-item">&nbsp;&nbsp;The River of Cruelty&nbsp;&nbsp;</a></li>
                <li class="nav-list-item"><a href="/changeProcess" class="nav-list-item">&nbsp;&nbsp;The Change Process&nbsp;&nbsp;</a></li>
            </ul>
        </nav>
    <header class="header">
        <div class="header__logo-box">
             <img src="/img/reallogo.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__text-box">
             <h1 class="heading-primary">
                 <span class="heading-primary--main">Peaceful Families</span>
                 <span class="heading-primary--sub">Justice Involved Women</span>
             </h1>
        </div>
    </header>
    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">Adverse Childhood Experiences</h2>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small">The Adverse Childhood Experiences Study</h3>
                    <p class="paragraph topBorder">
                        The Adverse Childhood Experiences Study (ACE Study) is a research study conducted by the American health maintenance organization Kaiser Permanente and the Centers for Disease Control and Prevention. Participants were recruited to the study between 1995 and 1997 and have been in long-term follow up for health outcomes. The study has demonstrated an association of childhood trauma with health and social problems across the lifespan.    
                    </p>
                    <h3 class="heading-tertiary u-margin-bottom-small">Are ACEs putting you at risk?</h3>
                    <p class="paragraph">
                            ACEs are Adverse Childhood Experiences that put all of us at risk. An ACE score is a tally of different types of abuse, neglect, and other hallmarks of a rough childhood…  the rougher your childhood, the higher your score. ACEs have a profound impact on self-development and adulthood. This is a test where 10/10 is NOT a good thing. You score one point for each “Yes” answer.  A  score of 4 points means that you experienced 4 ACEs.  An ACE score of 4 or higher is considered to be a high ACE score.  A score of 7-10 is extremely high.
                            High ACE scores can be remarkably predictive in terms of life outcomes:  poor health and disease, emotional issues, depression, abusive relationships,  risky behavior, substance abuse and addiction, eating disorders, even future traumatic events.  All of these are predicted by high ACE scores.
                            Generally,<em> as your ACE score increases, your risk for disease, social and emotional problems also increases</em>.  Mental, physical, psychological and even spiritual development can be stunted and hindered, putting children at risk through the entire lifespan.
                     </p>
                     <h3 class="heading-tertiary u-margin-bottom-small">FIND YOUR ACE SCORE</h3>
                     <p class="paragraph">
                            Are you curious and want to know more?  The first step is to find your ACE score.
                     </p>
                     <a id="aceTest" href="/acesQuiz" class="btn-text">Take the Ace Test &rarr;</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img srcset="/img/2.png 300w, /img//2.png 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 1"
                             class="composition__photo composition__photo--p1"
                             src="/img/2.png">

                        <img srcset="/img/man.png 300w, /img/man.png 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 2"
                             class="composition__photo composition__photo--p2"
                             src="/img/man.png">

                        <img srcset="/img/girl-2.png 300w, /img/girl-2.png 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 3"
                             class="composition__photo composition__photo--p3"
                             src="/img/girl-2.png">

                        <img srcset="/img/ddd.jpg 300w, /img/ddd.jpg 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 4"
                             class="composition__photo composition__photo--p4"
                             src="/img/ddd.jpg">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-features">
            <div class="row">
                <div class="col-1-of-3">
                    <div class="feature-box">
                        <h3 class="heading-tertiary u-margin-bottom-small">FACT #1</h3>
                        <p class="feature-box__text">
                            Childhood trauma is very common, even in employed white middle-class, college-educated people with great health insurance. There is a direct link between ACEs and adult onset of chronic disease, such as depression, and suicide. An ACE score of just 1 makes us twice as likely to become an alcoholic.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="feature-box">
                        <h3 class="heading-tertiary u-margin-bottom-small">FACT #2</h3>
                        <p class="feature-box__text">
                            More types of trauma increased the risk of health, social and emotional problems. People usually experience more than one type of trauma – rarely is it only sex abuse or only verbal abuse. A whopping two thirds of the 17,000 people in the ACE Study had an ACE score of at least one — 87% of those had more than one.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="feature-box">
                         <h3 class="heading-tertiary u-margin-bottom-small">FACT #3</h3>
                         <p class="feature-box__text">
                            As your ACE score increases, so does the risk of disease, social and emotional problems. With an ACE score of 4 or more, things start getting serious. The likelihood of chronic pulmonary lung disease increases 390 percent; hepatitis, 240 percent; depression 460 percent; attempted suicide, 1,220 percent
                        </p>
                    </div>
                </div>
                </div>
        </section>
        <section class="section-tours" id="section-tours">
        <div class="graphDiv">
            <h2 class="aceLabel">Risk Areas In the Home</h2>
            <img class="aceGraph" src="/./img/graph.png">
            <h2 class="aceLabel">Unintentional Consequences</h2>
            <img class="aceGraph" src="/./img/risks.png">
        </div>
        </section>
    </main>
</body>
