
<head>
  
    <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/../css/main.css">
    <link rel="stylesheet" href="css/change.css">
     
</head>
<body>
    <nav class="nav">
            <li class="nav-list-item"><a href="/" class="nav-list-item">&nbsp;&nbsp;Home&nbsp;&nbsp;</a></li>
            <li class="nav-list-item"><a href="/river" class="nav-list-item">&nbsp;&nbsp;The River of Cruelty&nbsp;&nbsp;</a></li>
            <li class="nav-list-item"><a href="/aces" class="nav-list-item">&nbsp;&nbsp;ACEs&nbsp;&nbsp;</a></li>
    </nav>
    <header class="header">
        <div class="header__logo-box">
            <img src="img/reallogo.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">The Change Process</span>
                <span class="heading-primary--sub">From Cruelty to Peace</span>
            </h1>
        </div>
    </header>
    <div class="intro">
      <p><em><b>The Change Process survey is a self-evaluation assessment tool <br>designed to track emotional progress and growth.<br> To gain a clear understanding of your emotional strengths and risks factors,<br> complete the assessment below.</em></b></p>
      <p>Check all boxes that apply to you</p>
    </div>
    <main>
        <table>
            <thead>
                <tr>
                  <td>Domination and Control<br><span class="title2-2">(Pre-Painful Shift)</span></td>
                  <td>Peaceful Interaction<br><span class="title2-2">(Post-Painful Shift)</span></td>
                </tr>
            </thead>
            <tbody>
                <tr class="rowCatagories">
                    <td><h4>Cruelty</h4></td>
                    <td><h4>Respect</h4></td>
                  </tr>
                <tr>
                    <td class="left">
                        <form>
                            <input type="checkbox" class="box" name="cruelty">Imposes one's will on another<br>
                            <input type="checkbox" class="box" name="cruelty">Intentionally inflicts pain or suffering on another<br>
                            <input type="checkbox" class="box" name="cruelty">Blatantly disregards others<br>
                            <input type="checkbox" class="box" name="cruelty">Uses physical violence<br>
                              &nbsp;<em><b>Uses threatening behaviors that create fear or harm to:</b></em><br>
                            <input type="checkbox" class="box" name="cruelty">another person<br>
                            <input type="checkbox" class="box" name="cruelty">their family members/loved ones<br>
                            <input type="checkbox" class="box" name="cruelty">their pets<br>
                            <input type="checkbox" class="box" name="cruelty">their identity/reputation<br>
                            <input type="checkbox" class="box" name="cruelty">their property/belongings
                        </form>
                    </td>
                    <td class="right">
                        <form>
                            <input type="checkbox" class="box" name="cruelty2">Accepts the right of others to have their own opinions, thoughts, and choices<br>
                            <input type="checkbox" class="box" name="cruelty2">Validates the rights, thoughts, and feelings of others<br>
                            <input type="checkbox" class="box" name="cruelty2">Uses peaceful means to get needs/wants met<br>
                            <input type="checkbox" class="box" name="cruelty2">Knows physical triggers and takes responsibility for remaining peaceful<br>
                            <input type="checkbox" class="box" name="cruelty2">Talking or behaving in a way that creates safety for others<br>
                        </form>
                    </td>
                </tr>
                <tr class="rowCatagories">
                    <td><h4>Minimization, Denial, Blame</h4></td>
                    <td><h4>Integrity, Honesty, and Accountability</h4></td>
                </tr>
                <tr>
                    <td class="left">
                        <form>
                          <input type="checkbox" class="box" name="blame">Avoids personal responsibility<br>
                          <input type="checkbox" class="box" name="blame">Says abuse did not happen, or it was someone else's fault<br>
                          <input type="checkbox" class="box" name="blame">Believes that their stated intentions rather than their behaviors should count<br>
                          <input type="checkbox" class="box" name="blame">Believes an apology should mean to forgive and forget<br>
                          <input type="checkbox" class="box" name="blame">Colludes with others who are violent
                        </form>
                    </td>
                    <td class="right">
                        <form>
                          <input type="checkbox" class="box" name="blame2">Doing what you say you are going to do<br>
                          <input type="checkbox" class="box" name="blame2">Accepts responsibility for behaviors<br>
                          <input type="checkbox" class="box" name="blame2">Accepts responsibility for changing behaviors<br>
                          <input type="checkbox" class="box" name="blame2">Does not support others' dishonesty, minimization, denial, or blame
                        </form>
                    </td>
                </tr>
                <tr class="rowCatagories">
                    <td><h4>Projection</h4></td>
                    <td><h4>Personal Introspection</h4></td>
                </tr>
                <tr>
                    <td class="left">
                        <form>
                          <input type="checkbox" class="box" name="projection">Critical of others<br>
                          <input type="checkbox" class="box" name="projection">Highly judgemental<br>
                          <input type="checkbox" class="box" name="projection">Avoids self disclosure<br>
                          <input type="checkbox" class="box" name="projection">Hides perceived weaknesses and vulnerabilities
                        </form>
                    </td>
                    <td class="right">
                        <form>
                          <input type="checkbox" class="box" name="projection2">Examines adverse emotions<br>
                          <input type="checkbox" class="box" name="projection2">Seeks self understanding<br>
                          <input type="checkbox" class="box" name="projection2">Acknowledges the impact of the they did to others<br>
                          <input type="checkbox" class="box" name="projection2">Acknowledges the impact of the cruelty done to them
                        </form>
                    </td>
                </tr>
                <tr class="rowCatagories">
                    <td><h4>Coercion, Criticism, and Force</h4></td>
                    <td><h4>Negotiation and Fairness</h4></td>
                </tr>
                <tr>
                    <td class="left">
                        <form>
                          <input type="checkbox" class="box" name="force">Resolves conflict through control<br>
                          <input type="checkbox" class="box" name="force">Wins at all costs<br>
                          <input type="checkbox" class="box" name="force">Unwilling to compromise<br>
                          <input type="checkbox" class="box" name="force">Resistant to, and sabatoging change<br>
                          <input type="checkbox" class="box" name="force">Uses aggressive or passive aggressive behavior, violates the rights of others<br>
                          <input type="checkbox" class="box" name="force">Disregards interests of their partner
                        </form>
                    </td>
                    <td class="right">
                        <form>
                          <input type="checkbox" class="box" name="force2">Seeks mutually satisfying resolution in conflict<br>
                          <input type="checkbox" class="box" name="force2">Willing to compromise<br>
                          <input type="checkbox" class="box" name="force2">Considers partner's interests<br>
                          <input type="checkbox" class="box" name="force2">Accepts requests for change<br>
                          <input type="checkbox" class="box" name="force2">Uses assertive behavior, stands up for wants/needs/rights without violating others<br>
                          <input type="checkbox" class="box" name="force2">Communicates and sets healthy boundaries in a non-threatening way
                        </form>
                    </td>
                </tr>
                <tr class="rowCatagories">
                  <td><h4>Emotional Cruelty</h4></td>
                  <td><h4>Trust and Partnership</h4></td>
                </tr>
                <tr>
                  <td class="left">
                      <form>
                        <input type="checkbox" class="box" name="emo">Puts others down, degrades them<br>
                        <input type="checkbox" class="box" name="emo">Calls names<br>
                        <input type="checkbox" class="box" name="emo">Humiliates others<br>
                        <input type="checkbox" class="box" name="emo">Playing mind games<br>
                        <input type="checkbox" class="box" name="emo">Uses guilt, fear, and blame to get their way<br>
                        <input type="checkbox" class="box" name="emo">Isolates<br>
                        <input type="checkbox" class="box" name="emo">Criticizes and gets defensive<br>
                        <input type="checkbox" class="box" name="emo">Uses jealousy to justify actions
                      </form>
                    </td>
                   <td class="right">
                      <form>
                        <input type="checkbox" class="box" name="emo2">Values our partner's interests<br>
                        <input type="checkbox" class="box" name="emo2">Accepts their own, and their partner's strengths       and weaknesses<br>
                        <input type="checkbox" class="box" name="emo2">Supports partner's dreams and goals<br>
                        <input type="checkbox" class="box" name="emo2">Owns insecurities<br>
                        <input type="checkbox" class="box" name="emo2">Embraces independence
                      </form>
                  </td>
                </tr>
                <tr class="rowCatagories">
                  <td><h4>Self-Centered Parenting</h4></td>
                  <td><h4>Parenting with Respect</h4></td>
                </tr>
                <tr>
                  <td class="left">
                      <form>
                        <input type="checkbox" class="box" name="parent">Uses fear tactics to have control<br>
                        <input type="checkbox" class="box" name="parent">Physical, sexual, or emotional abuse<br>
                        <input type="checkbox" class="box" name="parent">Vicarious parenting<br>
                        <input type="checkbox" class="box" name="parent">Dehumanizes children<br>
                        &nbsp;Using children:<br>
                        <input type="checkbox" class="box" name="parent">to get what they want<br>
                        <input type="checkbox" class="box" name="parent">as a weapon against their partner<br>
                        <input type="checkbox" class="box" name="parent">as a co-conspirator<br>
                        <input type="checkbox" class="box" name="parent">as a spy<br>
                        <input type="checkbox" class="box" name="parent">Escapes responsibility regarding nurturance<br>
                        <input type="checkbox" class="box" name="parent">Models violent behaviors and intolerance
                      </form>
                   </td>
                   <td class="right"> 
                      <form>
                        <input type="checkbox" class="box" name="parent2">Ensures safety and security with child<br>
                        <input type="checkbox" class="box" name="parent2">Interactions with child are focused on the child's needs/wants- not the adults<br>
                        <input type="checkbox" class="box" name="parent2">Supports other parents in their parenting<br>
                        <input type="checkbox" class="box" name="parent2">Separates children's issues from partner's issues<br>
                        <input type="checkbox" class="box" name="parent2">Uses respectful discipline<br>
                        <input type="checkbox" class="box" name="parent2">Shares equally in nurturance responsibilities<br>
                        <input type="checkbox" class="box" name="parent2">Is a positive non-violent role model<br>
                        <input type="checkbox" class="box" name="parent2">Accepts child
                      </form>
                  </td>
                </tr>
                <tr class="rowCatagories">
                  <td><h4>Sexual Disrespect</h4></td>
                  <td><h4>Sexual Respect</h4></td>
                </tr>
                <tr>
                  <td class="left">
                      <form>
                        <input type="checkbox" class="box" name="disrespect">Measures a person's worth by their sexual appeal/willingness to sexually gratify<br>
                        <input type="checkbox" class="box" name="disrespect">Discriminates against others due to their sexual orientation or gender<br>
                        <input type="checkbox" class="box" name="disrespect">Uses sexual gestures or terms to attract attention, degrade, or humiliate<br>
                        <input type="checkbox" class="box" name="disrespect">Uses force or coersion to obtain sexual interaction<br>
                        <input type="checkbox" class="box" name="disrespect">Doesn't let a potential partner know of safety risks
                      </form>
                  </td>
                  <td class="right">
                      <form>
                        <input type="checkbox" class="box" name="disrespect2">Values social and sexual intimacy in relationship<br>
                        <input type="checkbox" class="box" name="disrespect2">Treats people with equal respect, regardless of sexuality or gender<br>
                        <input type="checkbox" class="box" name="disrespect2">Values the rights, thoughts, or feelings of others<br>
                        <input type="checkbox" class="box" name="disrespect2">Engages in only consensual sexual activity<br>
                        <input type="checkbox" class="box" name="disrespect2">Informs partner of safety risks<br>
                        <input type="checkbox" class="box" name="disrespect2">Understands the harmful impact of objectification
                      </form>
                  </td>
                </tr>
                <tr class="rowCatagories">
                  <td><h4>Privelege and Mind Games</h4></td>
                  <td><h4>Healthy Relationships</h4></td>
                </tr>
                <tr>
                  <td class="left">
                      <form>
                        <input type="checkbox" class="box" name="mind">Uses privilege to avoid certain duties and assign roles<br>
                        <input type="checkbox" class="box" name="mind">Uses privilege to make financial decisions to benefit self, at the expense of your partner<br>
                        <input type="checkbox" class="box" name="mind">Expects partner's perfection in fulfilling assigned roles and responsibilities<br>
                        <input type="checkbox" class="box" name="mind">Uses entitled behaviors<br>
                        <input type="checkbox" class="box" name="mind">Uses sadistic behaviors<br>
                        <input type="checkbox" class="box" name="mind">Demands perfection of partner
                      </form>
                   </td>
                   <td class="right">
                      <form>
                        <input type="checkbox" class="box" name="mind2">Agrees upon the fair distribution of responsibilities<br>
                        <input type="checkbox" class="box" name="mind2">Shares decision making<br>
                        <input type="checkbox" class="box" name="mind2">Values partner as their equal<br>
                        <input type="checkbox" class="box" name="mind2">Makes financial decisions with equal consideration<br>
                        <input type="checkbox" class="box" name="mind2">Makes family and future decisions together<br>
                        <input type="checkbox" class="box" name="mind2">Recognizes role conflicts for self and partner<br>
                        <input type="checkbox" class="box" name="mind2">Repectfully problem solves
                      </form>
                  </td>
                </tr>
            </tbody>
        </table>
        <a href="#progress" id="submit" class="btn btn--green">Submit</a>
    </main>
    <div class="popup" id="progress">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#section-tours" class="popup__close">&times;</a>
                <div class="text-dark card-body bg-pastel card py-5">
                    <h3 class="center u-margin-bottom-small emoH3">Emotional Strengths &amp; Risk Factors</h3>
                    <p class="center u-margin-bottom-small emoP">Assessment Results:</p>
                    <hr>
                    <div class="progressFlex">
                        <div class="progressSection">
                          <h3 class="center emoTitle">Risk Factors</h3>
                          <h4 class="titles">Domination &amp; Control</h4>
                          <div class="progress mb-3">
                            <div class="progress-bar bg-danger cruelty" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Minimization, Denial &amp; Blame</h4>
                          <div class="progress mb-3">
                          <div class="progress-bar bg-danger blame" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Projection</h4>
                          <div class="progress mb-3">
                            <div class="progress-bar bg-danger projection" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Coercion, Criticism &amp; Force</h4>
                          <div class="progress mb-3">
                            <div class="progress-bar bg-danger force" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Emotional Cruelty</h4>
                          <div class="progress mb-3">
                          <div class="progress-bar bg-danger emo" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Self-Centered Parenting</h4>
                          <div class="progress mb-3">
                          <div class="progress-bar bg-danger parent" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Sexual Disrespect</h4>
                          <div class="progress mb-3">
                            <div class="progress-bar bg-danger disrespect" style="width:0%"></div>
                          </div>
                          <h4 class="titles">Privilege &amp; Mind Games</h4>
                          <div class="progress mb-3">
                            <div class="progress-bar bg-danger mind" style="width:0%"></div>
                          </div>
                        </div>
                        <div class="progressSection">
                            <h3 class="center emoTitle">Strengths</h3>
                            <h4 class="titles">Peaceful Interaction</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary cruelty2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Honesty, Integrity &amp; Accountability</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary blame2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Personal Introspection</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary projection2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Negotiation &amp; Fairness</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary force2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Trust &amp; Partnership</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary emo2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Parenting With Respect</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary parent2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Sexual Respect</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary disrespect2" style="width:0%"></div>
                            </div>
                            <h4 class="titles">Healthy Family Relationships</h4>
                            <div class="progress mb-3">
                              <div class="progress-bar bg-primary mind2" style="width:0%"></div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/change.js"></script>
</body>




              
                  