
<head>
    <link rel="stylesheet" href="css/index.css">        
</head>
<body>
    <nav id="nav" class="nav">
        <ul class="nav-list"></ul>
            <li class="nav-list-item"><a href="#logIn" class="nav-list-item">&nbsp;&nbsp; Sign In &nbsp;&nbsp;</a></li>
            <li class="nav-list-item"><a href="http://localhost:8080/river" class="nav-list-item">&nbsp;&nbsp;The River of Cruelty&nbsp;&nbsp;</a></li>
            <li class="nav-list-item"><a href="http://localhost:8080/changeProcess" class="nav-list-item">&nbsp;&nbsp;The Change Process&nbsp;&nbsp;</a></li>
            <li class="nav-list-item"><a href="http://localhost:8080/aces" class="nav-list-item">&nbsp;&nbsp;ACEs&nbsp;&nbsp;</a></li>
        </ul>
    </nav>
    <header class="header">
        <div class="header__logo-box">
            <img src="img/reallogo.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Peaceful Families</span>
                <span class="heading-primary--sub">Justice Involved Women</span>
            </h1>
               <a href="#logIn" id="signInBtn" class="btn btn--white btn--animated">Sign In</a>
        </div>
    </header>
    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 id="userFound"></h2>
                <h2 class="heading-secondary"> Creating Safety and Support</h2>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small center">PEACEFUL FAMILIES PROGRAM</h3>
                    <p class="paragraph">
                        The Peaceful Families Program is a justice involved branch of the Family Peace Initiative's trauma-focused curriculum. Peaceful Families encourages self discovery and healing while working towards ending cruelty in relationships.<br> The Peaceful Families Program was created in 2015 as part of the recognized need to help justice involved women to address:<br>
                            1. Impact of trauma on their lives<br>
                            2. Reduce behavior challenges within the prison setting<br>
                            3. Decrease recidivism among those who are released back into the community
                     </p>
                     <h3 class="heading-tertiary u-margin-bottom-small"><a href="#stories" class="btn-text" id="storiesLink">Stories from the inside &rarr;</a></h3>
                     <p class="paragraph">Hear from the justice involved women who have graduated the class.</p>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img srcset="img/pic1.png 300w, img//pic1.png 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 1"
                             class="composition__photo composition__photo--p1"
                             src="img/pic1.png">
                        <img srcset="img/pic9.jpeg 300w, img/pic9.jpeg 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 2"
                             class="composition__photo composition__photo--p2"
                             src="img/pic9.jpeg">
                        <img srcset="img/5.png 300w, img/5.png 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 3"
                             class="composition__photo composition__photo--p3"
                             src="img/5.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-features">
            <div class="row">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-world"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Impact</h3>
                        <p class="feature-box__text">Total incidences of misconduct decreased by 51% after completion of the 6 month program.</p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-compass"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Graduates</h3>
                        <p class="feature-box__text">Graduates strive to create a culture of safety, emotional health and cruelty-free accountability.</p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                         <i class="feature-box__icon icon-basic-map"></i>
                         <h3 class="heading-tertiary u-margin-bottom-small">WorkBook</h3>
                         <p class="feature-box__text">Participants complete a workbook that goes in depth with the fear, grief, anger, and sadness</p>
                    </div>
                </div>
                <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Relationships</h3>
                            <p class="feature-box__text">Ending cruelty in relationships and fostering respect is the primary goal of the program.</p>
                        </div>
                    </div>
                </div>
        </section>
        <section class="section-tours" id="section-tours">
            <div class="u-center-text">
                <h2 class="heading-secondary u-margin-bottom-medium">COURSE CURRICULUM</h2>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">&nbsp;</div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">The River of Cruelty</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Cruelty</li>
                                    <li>Adverse Emotions</li>
                                    <li>Defense Mechanisms</li>
                                    <li>Unintended Consequences</li>
                                    <li>Belief Systems</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <a href="#river" class="btn btn--white">The River</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">&nbsp;</div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">The Shadow Message</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                  <li>Personal Introspection</li>
                                  <li>Shame vs Guilt</li>
                                  <li>Integrity &amp; Accountability</li>
                                  <li>Negotiation &amp; Fairness</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <a href="#aceInfo" class="btn btn--white">ACE Quiz</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">&nbsp;</div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">TOOLBOX</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Four Horseman</li>
                                    <li>Sexual Respect</li>
                                    <li>Parenting With Respect</li>
                                     <li>Enlightened Witnesses</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <a href="#definitions" class="btn btn--white">Definitions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-center-text u-margin-top-huge">
              <form action="http://localhost:8080/changeProcess" method="GET">
                <button type="submit" class="btn btn--green">The Change Process</button>
              </form>
            </div>
        </section>
        <section class="section-stories">
            <div class="bg-video">
                <img src="img/table.png" alt="family" class="fam">
            </div>
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-b">We want to help people</h2>
            </div>
            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/self.png" class="story__img">
                        <figcaption class="story__caption">Dare To Dig Deep</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Begin your journey of self discovery</h3>
                        <p>
                        One of the central components of the program is a technique called “The Shadow Process”.  This is often a highly emotional process that digs deep into the roots of the attitudes and beliefs that we all hold about ourselves.  We connect this process to control logs, and the breaking down of any event that participants bring into the room that has an emotional load attached to it. This process quickly moves a conversation regarding any emotional reactivity about a person, to a conversation about our dangerousness and the link to past traumas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/nat-9.jpg" class="story__img">
                        <figcaption class="story__caption">Discover Yourself</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Challenge Your Beliefs</h3>
                         <p>
                         Those who use violence, as a group, have experienced large numbers of adverse events long before they became cruel themselves. We routinely deal with these issues in our groups. From physical to sexual abuse, emotional cruelty and abandonment, these traumatic events are routinely discussed and processed. We work hard to connect the cruelty they have experienced to the cruelty they have done to others. It must be emphasized at this point that cruelty experienced is NEVER an excuse for cruelty inflicted upon others. Inflicting cruelty on someone else is simply evidence that one has not been completely responsible for healing the impact of the cruelty experienced. Once we heal that impact, we stop passing cruelty on to others.
                        </p>
                    </div>
                 </div>
             </div>
        </section>
    </main>
{{!-- popup section --}}
   <div class="popup" id="stories">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#storiesLink" class="popup__close">&times;</a>
                <img src="img/reallogo.png" alt="Logo" class="popup__logo">
                <p class="popup__text">
                    “I feel relief, deep healing, love,  trust, I am good enough, and not angry… This groups has been the best thing that has happened for me.”<br>
                    <strong><em>—Graduate</em></strong><br><br>
                    “This class has taught me to see how the action or words of others can trigger the shadows that drag me into that “River of Cruelty”. Instead of acting in a negative way… I know I can deal with those people and things they say or do to me in a positive way.”<br>
                    <strong><em>—Graduate</em></strong><br><br>
                    "It was a lesson in life for me. My inner self was the focus not just my mind, but my heart, my spirit, my self-worth.”<br>
                    <strong><em>—Graduate</em></strong><br><br>
                    “This class has taught me to have boundaries in every kind of relationship. I have become a better person.”<br>
                    <strong><em>—Graduate</em></strong><br><br>
                    “For the past 10 years, I have helped facilitate a self-help group at the women’s prison in Topeka, Kansas…All but a few of its members have experienced debilitating levels of emotional, physical, and sexual trauma.
                    Some of the members have taken the Peaceful Families class.  I don’t know what goes on over there, but I do know that the program’s graduates come back different. They are calm, thoughtful, ready to rebuild, and anxious to do something positive with their lives.”<br>
                    <strong><em>—Dave Ranney, volunteer, Reaching Out From Within Program</em></strong><br><br>
                    “Every person on my caseload who has ever been involved with Peaceful Families has commented on how much they have had to “dig deep” inside themselves. This not only serves as a vehicle for introspection and self-exploration but has had the effect of making them more willing and open to further self-exploration.
                    In my opinion, this curriculum gives a multi-layered gift to the individual and in turn the facility by giving them the opportunity to begin to learn and secondarily, whetting their appetites for more growth.”<br>
                    <strong><em>—Deb Alexander, Unit Team Leader, KDOC</em></strong><br><br>
                </p>   
            </div>
        </div>
    </div> 

    <div class="popup" id="river">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#section-tours" class="popup__close">&times;</a>
                <h2 class="heading-sec u-margin-bottom-small">The River of Cruelty</h2>
                <p class="popup__text">
                    The "River of Cruelty" is a metaphor describing how cruel behaviors move freely from person to person and are passed down through generations. It is well described as a river, as it flows from parent to child, impacting each generation. We did not have a choice when we landed in the River. We were "thrown in" before we were old enough, or big enough, to prevent it.
                    Once in the River, we are often resourceful and develop skills that help us to survive. These skills might incude becoming self-centered/self-less, or isolating/seeking attention. Other strategies include repressing emotions or becoming rebellious or angry. While these and many other skills are obviously problematic, they also serve the purpose of helping people survive the River. Problems often show up later as we discover that the very skills that helped us survive, now serve to sabotage our quest for healthy relationships, and a more meaningful existence. These survival tools, while invaluable in helping us exist in the River of Cruelty, actually create a path for the River to continue to flow through future generations.Understanding how we entered the River in the first place is crucial to understanding the process of getting out.
                </p>
                <a href="/river" class="cardbtn btn--green">Build Your River</a>
            </div>
        </div>
    </div>
    <div class="popup" id="aceInfo">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#section-tours" class="popup__close">&times;</a>
                <h2 class="heading-sec u-margin-bottom-small">Adverse Childhood Events</h2>
                <p class="popup__text">
                     ACEs are Adverse Childhood Experiences that put all of us at risk. ACEs are traumatic experiences (for example, sexual abuse and domestic violence) that one has experienced before age 18.  ACEs have a profound impact on self-development and adulthood. High ACE scores can be remarkably predictive in terms of life outcomes:  poor health and disease, emotional issues, depression, abusive relationships,  risky behavior, substance abuse and addiction, eating disorders, even future traumatic events.  All of these are predicted by high ACE scores.
                     Generally, as your ACE score increases, your risk for disease, social and emotional problems also increases.  Mental, physical, psychological and even spiritual development can be stunted and hindered, putting individuals at risk through the entire lifespan.
                </p>
                <a href="/acesQuiz" class="cardbtn btn--green">Take the ACE Quiz</a>
            </div>
        </div>
    </div>
    <div class="popup" id="definitions">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#section-tours" class="popup__close">&times;</a>
                <h2 class="def-head u-margin-bottom-small">Important Definitions</h2>
                <h3 class="heading-tertiary u-margin-bottom-small"></h3>
                <p class="popup__text">
                    <span class="word">Abuse:</span> Any attempt to impose one's <em>will</em> on another<br>
                    <span class="word">Violence:</span> Any behavior designed to create <em>fear</em> in another<br>
                    <span class="word">Physical Violence:</span> Any abuse or violence with physical contact<br>
                    <span class="word">Cruelty:</span><br><em>a)</em> The blatant disregard of another<br> <em>b)</em> The intentional infliction of pain and suffering on another<br>
                    <span class="word">Trust:</span> The knowledge that one's decisions will be taken into account by another<br>
                    <span class="word">Punishment:</span> Creating pain or discomfort in order to influence someone's behavior<br>
                    <span class="word">Discipline:</span> To teach or to provide structure conducive to learning<br>
                    <span class="word">Respect:</span><br><em>a)</em> To hold in high regard<br><em>b)</em> Acceptance
                </p>   
            </div>
        </div>
    </div>
</body>
