
  <head>
        <link rel="stylesheet" href="/../css/error.css">
        <link rel="stylesheet" href="/../css/main.css">
  </head>
  <body>
        <nav class="nav">
                <ul class="nav-list"></ul>
                    <li class="nav-list-item"><a href="#logIn" class="nav-list-item">&nbsp;&nbsp;Sign In&nbsp;&nbsp;</a></li>
                    <li class="nav-list-item"><a href="/" class="nav-list-item">&nbsp;&nbsp;Home&nbsp;&nbsp;</a></li>
                    <li class="nav-list-item"><a href="/changeProcess" class="nav-list-item">&nbsp;&nbsp;The Change Process&nbsp;&nbsp;</a></li>
                    <li class="nav-list-item"><a href="/aces" class="nav-list-item">&nbsp;&nbsp;ACEs&nbsp;&nbsp;</a></li>
                </ul>
            </nav>
        <header class="header">
            <div class="header__logo-box">
                 <img src="/../img/reallogo.png" alt="Logo" class="header__logo">
            </div>
            <div class="header__text-box">
                 <h1 class="heading-primary">
                    <span class="heading-primary--main">Peaceful Families</span>
                     <span class="heading-primary--sub">Justice Involved Women</span>
                   </h1>
            </div>
        </header>
        <main>
            <section class="section-about">
                <div class="u-center-text">
                    <h2 class="heading-secondary u-margin-bottom-small">Sign in failed</h2>
                    <p class="intro">Did you:<br> 
                        &check; Check your email address?<br>
                        &check; Check your password?<br><br>
                        <b>Are you a new user?</b><br>
                        Create an Account!<br><br>
                        <a class="backLink" href="#logIn"> Sign in</a> or go
                        <a class="backLink" href="/"> back</a> to the home page to continue.
                    </p>
                </div>
            </section>
        </main>
</body>